/* ==========================================================================
   Website Styles
   ========================================================================== */

/**
* Theme Index
*
* Brand Theme Colors
* 1. Blue Base:     #0B162A
* 2. Organe Base:   #FA4616
*
* Structure Theme Colors
* 1. Black Base:    #000000;
* 2. Gray Light:    #FAFAFA
* 3. Gray Base:     #CDCDCD
* 4. White Base:    #FFFFFF
*
* Typography Theme Colors
* 1. Black Base:    #2A2A2A
* 2. Blue Base:     #0B162A
* 3. Gray Base:     #959595;
* 4. Organe Base:   #FA4616
*
* Typography Styles
* 1. Sans-Serif:    Works Sans - Regular, Bold, Black
* 2. Serif:         Georgia - Regular
*
* Spacing Rules
* Padding and Margin increments of 8px
* 8px, 16px, 32px, 64px, 128px, etc.
*/


/* ==========================================================================
   Global
   ========================================================================== */

html,
body {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 100%;
}


/* ==========================================================================
   Modules
   ========================================================================== */

/* Topbar
 ========================================================================== */

.topbar {
  height: 64px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.topbar nav {
  display: flex;
}

.topbar .logo-container {
  padding: 16px 24px;
  position: relative;
  transform: skewX(-10deg);
}

.topbar .logo-container::before {
  content: " ";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 12px;
}

.topbar .logo-container,
.topbar .logo-container::before {
  background-color: #FFFFFF;
  display: inline-block;
}

.topbar .logo-container a {
  display: inline-block;
  transform: skewX(10deg);
}

.topbar .logo-container img {
  height: 100%;
  width: 65px;
}

.topbar .share-container,
.topbar .share-container::after {
  background-color: #FFFFFF;
  display: inline-block;
}

.topbar .share-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 16px 24px;
  position: relative;
  transform: skewX(-10deg);
}

.topbar .share-container::after {
  content: " ";
  height: 100%;
  right: -12px;
  position: absolute;
  top: 0;
  width: 12px;
}

.topbar .share-container li {
  display: inline-block;
  transform: skewX(10deg);
}

.topbar .share-container li:not(:last-child) {
  margin-right: 8px;
}

/* Footer
 ========================================================================== */

 footer {
   background-color: #000000;
   padding: 32px 16px;
 }

 footer p {
   color: #FFFFFF;
   font-family: 'Work Sans', Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
 }


/* ==========================================================================
   Page Layout
   ========================================================================== */

/* Page Header
  ========================================================================== */
.page-header {
  background-color: #FAFAFA;
  height: 600px;
  padding-top: 64px;
  overflow: hidden;
  position: relative;
  top: -64px; /* Same height as topbar */
  z-index: 0;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-header {
    height: 800px;
  }
}

.page-header .container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-header .container {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
  }
}

.page-header .content-container {
  grid-column: span 4;
  padding: 0 16px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-header .content-container {
    grid-column-start: 2;
    grid-column-end: 7;
    padding: 0;
  }
}

.page-header .content-container .label {
  background-color: #0B162A;
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px;
  transform: skewX(-10deg);
}

.page-header .content-container .label p {
  color: #FAFAFA;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  transform: skewX(10deg);
}

.page-header .content-container h1 {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-header .content-container h1 {
    font-size: 150px;
    line-height: 110px;
  }
}

.page-header .content-container p {
  font-family: 'Georgia', Times, serif;
  font-size: 24px;
  line-height: 1.5;
}

.page-header .image-container {
  background: url('../images/article/hero-img-min.jpg') no-repeat 0 64px;
  background-size: cover;
  display: none;
  grid-column-start: 8;
  grid-column-end: 12;
  height: 100%;
  left: -64px;
  position: relative;
  width: 850px;
  z-index: -1;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-header .image-container  {
    display: block;
  }
}


/* Page Content
  ========================================================================== */

.page-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px 16px 32px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-content {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
    padding: 32px 0 64px;
  }
}


/* Page Content Article
  ========================================================================== */

.page-content .article {
  border-bottom: 1px solid #CDCDCD;
  grid-column: span 4;
  padding-bottom: 64px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-content .article {
    grid-column-start: 2;
    grid-column-end: 8;
  }
}

.page-content .article h3 {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  margin: 32px 0;
}

.page-content .article p {
  font-family: 'Georgia', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.page-content .image-container {
  margin: 64px 0;
}

.page-content .article img {
  height: auto;
  margin-bottom: 16px;
  width: 100%;
}

.page-content .image-container figcaption {
  border-bottom: 1px solid #CDCDCD;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 16px;
}

.page-content .image-container figcaption span {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
}


/* Page Content Sidebar
  ========================================================================== */

.page-content .sidebar {
  display: none;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-content .sidebar {
    display: block;
    grid-column-start: 9;
    grid-column-end: 12;
  }
}

.page-content .sidebar .byline-box {
  margin-bottom: 32px;
}

.page-content .sidebar .byline-img-container {
  text-align: center;
}

.page-content .sidebar .byline-img-container::after {
  background-color: #FAFAFA;
  content: "";
  display: block;
  height: 50px;
  margin-top: -53px;
  width: 100%;
}

.page-content .sidebar .byline-img-container img {
  width: 60%;
}

.page-content .sidebar .byline-text-container {
  background-color: #FAFAFA;
  border-top: 8px solid #FA4616;
  padding: 16px;
}

.page-content .sidebar .byline-text-container h5 {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.page-content .sidebar .byline-text-container p small {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
}

.page-content .sidebar .selection-box {
  background-color: #FAFAFA;
  border-top: 8px solid #FA4616;
  padding: 16px;
}

.page-content .sidebar .selection-box h5 {
  display: block;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.page-content .sidebar .selection-box p {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.page-content .sidebar .selection-box li {
  border-top: 8px solid #FFFFFF;
  display: grid;
  grid-template-columns: 48px auto;
  grid-column-gap: 16px;
  margin: 16px 0;
  padding: 16px 0;
}

.page-content .sidebar .selection-box li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-content .sidebar .selection-box li .item-img-container {
  border-radius: 100%;
  height: 48px;
  overflow: hidden;
  width: 48px;
}

.page-content .sidebar .selection-box li .item-img-container img {
  width: 100%;
}

.page-content .sidebar .selection-box .item-text-container h6 {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}

.page-content .sidebar .selection-box .item-text-container p {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}


/* Page Comments
  ========================================================================== */

.page-comments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 1440px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-comments {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
  }
}

.page-comments > div {
  grid-column: span 4;
  padding: 0 16px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-comments > div {
    grid-column-start: 2;
    grid-column-end: 8;
    padding: 0;
  }
}

.page-comments header h4 {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 32px;
}

.page-comments .comments {
  margin-bottom: 64px;
}

.page-comments .comment:not(:last-child) {
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.page-comments .comment header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8px;
}

.page-comments .comment header p {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.page-comments .comment header time {
  color: #959595;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}


/* Page Comments Form
  ========================================================================== */

.form-container {
  background-color: #0B162A;
  border-radius: 3px;
  margin-bottom: 64px;
  padding: 32px;
}

.form-container .form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
}

.form-container label {
  color: #FFFFFF;
  display: block;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}

.form-container input[type="text"] {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  border: 1px solid #959595;
  border-radius: 3px;
  margin-bottom: 16px;
  width: calc(100% - 25px);
}

.form-container textarea {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  border: 1px solid #959595;
  border-radius: 3px;
  margin-bottom: 16px;
  width: calc(100% - 25px);
}

.form-submit-container {
  text-align: right;
}

.form-container input[type="submit"] {
  background-color: #FA4616;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 24px;
  transition: opacity 0.35s ease-in-out;
}

.form-container input[type="submit"]:hover {
  opacity: 0.75;
}


/* Page Related Content
  ========================================================================== */

.page-related-content {
  background-color: #FAFAFA;
  padding: 64px 16px;
}

.page-related-content-container {
  margin: 0 auto;
  max-width: 1440px;
}

.page-related-content ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media(min-width: 769px) {
  .page-related-content ul {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
  }
}

.page-related-content li {
   grid-column: span 4;
}

.page-related-content li:not(:last-child) {
   margin-bottom: 32px;
}

@media(min-width: 769px) {
  .page-related-content li:not(:last-child) {
    margin-bottom: 0
  }
}

.page-related-content li img {
  border-radius: 3px;
  margin-bottom: 16px;
  width: 100%;
}

.page-related-content li h4,
.page-related-content li p,
.page-related-content li a {
  color: #2A2A2A;
  text-decoration: none;
}

.page-related-content li h4 {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 4px;
}

.page-related-content li p {
  font-family: 'Georgia', Times, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

.page-related-content li a {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
