/* ==========================================================================
   Article Comments Module Styles
   ========================================================================== */

.page-comments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  max-width: 1440px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-comments {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;
  }
}

.page-comments > div {
  grid-column: span 4;
  padding: 0 16px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 769px) {
  .page-comments > div {
    grid-column-start: 2;
    grid-column-end: 8;
    padding: 0;
  }
}

.page-comments header h4 {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 32px;
}

.page-comments .comments {
  margin-bottom: 64px;
}

.page-comments .comment:not(:last-child) {
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.page-comments .comment header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8px;
}

.page-comments .comment header p {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
}

.page-comments .comment header time {
  color: #959595;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}

.page-comments .comment p {
  margin-bottom: 0;
}
