/* Footer
 ========================================================================== */

 footer {
   background-color: var(--structure-black-base);
   padding: var(--spacer-32) var(--spacer-16);
   text-align: var(--text-align-center);
 }

 footer p {
   color: var(--type-white-base);
   font-family: var(--font-family-sans-serif);
   font-size: var(--font-size-foxtrot);
   font-weight: var(--font-weight-400);
   margin-bottom: var(--spacer-0);
 }
