/* ==========================================================================
   Related Posts Module Styles
   ========================================================================== */

/* Base
 ========================================================================== */

.page-related-content {
  background-color: #FAFAFA;
  padding: 64px 16px;
}

.page-related-content .item {
   grid-column: span 4;
}

.page-related-content .item:not(:last-child) {
   margin-bottom: 32px;
}

@media(min-width: 769px) {
  .page-related-content .item:not(:last-child) {
    margin-bottom: 0
  }
}
