/* ==========================================================================
   Sidebar Byline Module Styles
   ========================================================================== */

 /* Structure
   ========================================================================== */

.sidebar-question-item {
  border-top: var(--border-card-list);
  display: grid;
  grid-template-columns: 48px auto;
  grid-column-gap: 16px;
  padding: var(--spacer-16) var(--spacer-0);
}

.sidebar-question-item:last-child {
  margin-bottom: var(--spacer-0);
  padding-bottom: var(--spacer-0);
}

.sidebar-question-item .title,
.sidebar-question-item .text {
  font-size: var(--font-size-golf);
}

.sidebar-question-item .title {
  color: var(--type-black-base);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacer-4);
}

.sidebar-question-item .text {
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--spacer-0);
}
