/* ==========================================================================
   Topbar Module Styles
   ========================================================================== */

.topbar {
  background-color: #FAFAFA;
  height: 64px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.topbar nav {
  display: flex;
}

.topbar .topbar-left {
  padding: 16px 24px;
  position: relative;
  transform: skewX(-10deg);
}

.topbar .topbar-left::before {
  content: " ";
  height: 100%;
  left: -12px;
  position: absolute;
  top: 0;
  width: 12px;
}

.topbar .topbar-left,
.topbar .topbar-left::before {
  background-color: #FFFFFF;
  display: inline-block;
}

.topbar .topbar-left .topbar-logo-link {
  display: inline-block;
  transform: skewX(10deg);
}

.topbar .topbar-left img {
  height: 100%;
  width: 65px;
}

.topbar .topbar-right,
.topbar .topbar-right::after {
  background-color: #FFFFFF;
  display: inline-block;
}

.topbar .topbar-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 16px 24px;
  position: relative;
  transform: skewX(-10deg);
}

.topbar .topbar-right::after {
  content: " ";
  height: 100%;
  right: -12px;
  position: absolute;
  top: 0;
  width: 12px;
}

.topbar .topbar-right .topbar-social-item {
  display: inline-block;
  transform: skewX(10deg);
}

.topbar .topbar-right .topbar-social-item:not(:last-child) {
  margin-right: 8px;
}
