/* ==========================================================================
   Header Page Styles
   ========================================================================== */

.page-header {
  background-color: var(--structure-gray-light);
  height: 600px;
  margin: var(--spacer-0) var(--spacer-0) var(--spacer-32);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

/* Medium Viewport Breakpoint */
@media screen and (min-width: 768px) {
  .page-header {
    height: 800px;
    margin: var(--spacer-0) var(--spacer-0) var(--spacer-128);
  }
}

.page-header .container {
  align-items: center;
  height: 100%;
}

.page-header .content-container {
  grid-column: span 4;
  padding: var(--spacer-0) var(--spacer-16);
}

/* Medium Viewport Breakpoint */
@media screen and (min-width: 768px) {
  .page-header .content-container {
    grid-column-start: 2;
    grid-column-end: 7;
    padding: var(--spacer-0);
  }
}

.page-header .content-container .label {
  background-color: var(--brand-blue-base);
  display: inline-block;
  margin-bottom: var(--spacer-24);
  position: relative;
  opacity: 0;
  padding: var(--spacer-8);
  right: var(--spacer-64);
  transition: opacity 1.25s ease-in, right 0.75s ease, transform 1.25s ease;
}

.page-header .content-container .label.is-visible {
  opacity: 1;
  right: var(--spacer-0);
  transform: skewX(-10deg);
}

.page-header .content-container .label p {
  color: var(--structure-gray-light);
  font-family: var(--font-family-sans-serif);
  font-size: 50px;
  font-weight: var(--font-weight-black);
  margin-bottom: var(--spacer-0);
  transform: skewX(10deg);
}

.page-header .content-container .title {
  color: var(--brand-orange-base);
  font-size: 80px;
  line-height: 65px;
  margin-bottom: var(--spacer-24);
  position: relative;
  opacity: 0;
  right: var(--spacer-64);
  text-transform: uppercase;
  transition: opacity 1.25s ease-in, right 0.75s ease;
}

.page-header .content-container .title.is-visible {
  opacity: 1;
  right: var(--spacer-0);
}

/* Medium Viewport Breakpoint */
@media screen and (min-width: 768px) {
  .page-header .content-container .title {
    font-size: 150px;
    line-height: 110px;
  }
}

.page-header .content-container .text {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-delta);
  opacity: 0;
  position: relative;
  right: var(--spacer-64);
  transition: opacity 1.25s ease-in, right 0.75s ease;
}

.page-header .content-container .text.is-visible {
  opacity: 1;
  right: var(--spacer-0);
}

.page-header .image-container {
  display: none;
  grid-column-start: 7;
  grid-column-end: 13;
  height: 650px;
  position: relative;
  z-index: -1;
}

/* Medium Viewport Breakpoint */
@media screen and (min-width: 768px) {
  .page-header .image-container  {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(8, 1fr);
    width: 130%;
  }
}

.page-header .image-container li {
  background-color: var(--brand-orange-base);
  grid-column: span 2;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  position: relative;
  transform: skewX(-10deg);
  transition: opacity 1.5s ease-in;
  width: 100%;
}

.page-header .image-container li::before {
  background-color: var(--brand-blue-base);
  bottom: 0;
  content: "";
  left: 0;
  height: 100%;
  mix-blend-mode: screen;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.page-header .image-container li.is-visible {
  opacity: 1;
}

.page-header .image-container li:nth-child(2) {
  left: -24px;
  top: 128px;
}

.page-header .image-container li:last-child {
  left: -24px;
  top: 128px;
}

.page-header .image-container li img {
  height: 100%;
  mix-blend-mode: hard-light;
  object-fit: cover;
  width: 100%;

}
