/* ==========================================================================
   Layout Page Styles
   ========================================================================== */

/* Page Layout
  ========================================================================== */

/* Wrapper */
.page-content {
  padding: 0 16px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 768px) {
  .page-content {
    padding: 0;
  }
}

/* Article */
.page-content .article {
  border-bottom: 1px solid #CDCDCD;
  grid-column: span 4;
  margin: 0 0 64px;
  padding: 0 0 48px;
}

/* Medium Viewport Breakpoint */
@media(min-width: 768px) {
  .page-content .article {
    grid-column-start: 2;
    grid-column-end: 8;
    padding: 0 0 64px;
  }
}

/* Sidebar */
.page-content .sidebar {
  display: none;
}

/* Medium Viewport Breakpoint */
@media(min-width: 768px) {
  .page-content .sidebar {
    display: block;
    grid-column-start: 9;
    grid-column-end: 12;
  }
}


/* Page Content Article Image
  ========================================================================== */

/* Image Container */
.page-content .article-image-container {
  margin: 64px 0;
}

.page-content .article-image-container img {
  height: auto;
  margin-bottom: 16px;
  width: 100%;
}


/* Page Content Article Type Styles
  ========================================================================== */

/* Subhead */
.subhead {
  margin: 32px 0;
}

/* Image Caption */
figcaption {
  border-bottom: 1px solid #CDCDCD;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 16px;
}

figcaption span {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
}
