/* ==========================================================================
   Global Base Styles
   ========================================================================== */

html,
body {
  background-color: #FFFFFF;
  overflow-x: hidden;
  height: 100%;
}
