/* ==========================================================================
   Typography Base Styles
   ========================================================================== */

 /* Headings
  ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 16px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}


/* Paragraphs
 ========================================================================== */

p {
  font-family: 'Georgia', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}


/* Links
 ========================================================================== */

a {
  color: #FA4616;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}


/* Text Colors
 ========================================================================== */

.text-blue {
 color: #0B162A;
}

.text-orange {
 color: #FA4616;
}

.text-white {
 color: #FFFFFF;
}


/* Text Alignment
 ========================================================================== */

/* Text Center */
.text-center {
  text-align: center;
}

/* Text Right */
.text-right {
  text-align: right;
}
