/* ==========================================================================
   Typography Base Styles
   ========================================================================== */

 /* Headings
  ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--type-orange-base);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-primary);
  margin-bottom: var(--spacer-16);
}

h1 {
  font-size: var(--font-size-alpha);
}

h2 {
  font-size: var(--font-size-bravo);
}

h3 {
  font-size: var(--font-size-charlie);
}

h4 {
  font-size: var(--font-size-delta);
}

h5 {
  font-size: var(--font-size-echo);
}

h6 {
  font-size: var(--font-size-golf);
}


/* Paragraphs
 ========================================================================== */

p {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-foxtrot);
  line-height: var(--line-height-primary);
  margin-bottom: var(--spacer-16);
}


/* Links
 ========================================================================== */

a {
  color: var(--type-orange-base);
  font-family: var(--font-family-sans-serif);
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}


/* Text Colors
 ========================================================================== */

.text-blue {
 color: var(--type-blue-base);
}

.text-orange {
 color: var(--type-orange-base);
}

.text-white {
 color: var(--type-white-base);
}


/* Text Alignment
 ========================================================================== */

/* Text Center */
.text-center {
  text-align: var(--text-align-center);
}

/* Text Right */
.text-right {
  text-align: var(--text-align-right);
}
