/* ==========================================================================
   Avatar Component Styles
   ========================================================================== */

 /* Structure
   ========================================================================== */

.avatar {
  border-radius: 100%;
  overflow: hidden;
}

.avatar-img {
  width: 100%;
}


/* Sizes
  ========================================================================== */

.avatar-md {
  height: 48px;
  width: 48px;
}
