/* ==========================================================================
   Button Component Styles
   ========================================================================== */

/* Structure
   ========================================================================== */
.button {
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 24px;
  transition: opacity 0.35s ease-in-out;
  width: auto;
}

.button:hover {
  opacity: 0.75;
}

/* Styles
   ========================================================================== */
.button-primary {
  background-color: #FA4616;
}

.button-secondary {
  background-color: #0B162A;
}
